#!/bin/bash
export KUBECONFIG=""
export HUB_BASE_URL=""
export HUB_PASSWORD=""
export HUB_USERNAME=""

# Enviroment variebles needed for e2e/jiraintegration and e2e/migrationwave tests
export JIRA_CLOUD_USERNAME=""
export JIRA_CLOUD_PASSWORD=""
export JIRA_CLOUD_URL=""
export JIRA_SERVER_URL=""
export JIRA_SERVER_USERNAME=""
export JIRA_SERVER_PASSWORD=""
export JIRA_SERVER_TOKEN=""

# Enviroment variebles needed for Tier3 Analysis test
