name: Test TIER0

on:
  pull_request:
    branches: ["main", "release-*"]
    paths-ignore:
      - "**.md"
  push:
    branches: ["main", "release-*"]
    paths-ignore:
      - "**.md"

jobs:
  test-tier0:
    uses: konveyor/ci/.github/workflows/global-ci-bundle.yml@main
    with:
      operator_bundle: quay.io/konveyor/tackle2-operator-bundle:latest
      api_tests_ref: ${{ github.ref }}
      run_api_tests: true
      run_ui_tests: false
      api_tests_tiers: DEBUG=1 make test-tier0
